# Godot 4+ specific ignores
.godot/
.import/
#export_presets.cfg

*.tmp
*.log

.DS_Store
Thumbs.db

*.apk
*.idsig

.venv



# Godot Android build cache
android/build/.gradle/
android/build/build/
android/build/.cxx/
android/build/outputs/
android/build/intermediates/
android/build/.externalNativeBuild/

# Gradle
*.apk
*.aab
*.apks
